IFM2B_PROJECT-main/Connected Services/ACAD_Reference/ACAD_Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56938/ACAD_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Academia_Service" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="user" nillable="true" type="q1:MyUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegisterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="getUserResult" nillable="true" type="q2:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="getTutorResult" nillable="true" type="q3:Tutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTutors">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllTutorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="getAllTutorsResult" nillable="true" type="q4:ArrayOfTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="tutor" nillable="true" type="q5:MyTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTutorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTutor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Academia_Service" minOccurs="0" name="tutor" nillable="true" type="q6:MyTutor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTutorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTutorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>