IFM2B_PROJECT-main/Connected Services/ACAD_Reference/ACAD_Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ACAD_Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56938/ACAD_Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56938/ACAD_Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56938/ACAD_Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Academia_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IACAD_Service_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getUser" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUserResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:getTutor" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getAllTutors_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllTutors" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_getAllTutors_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllTutorsResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_AddTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTutor" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_AddTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTutorResponse" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_EditTutor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTutor" />
  </wsdl:message>
  <wsdl:message name="IACAD_Service_EditTutor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTutorResponse" />
  </wsdl:message>
  <wsdl:portType name="IACAD_Service">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/Login" message="tns:IACAD_Service_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/LoginResponse" message="tns:IACAD_Service_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/Register" message="tns:IACAD_Service_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/RegisterResponse" message="tns:IACAD_Service_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/getUser" message="tns:IACAD_Service_getUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/getUserResponse" message="tns:IACAD_Service_getUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/getTutor" message="tns:IACAD_Service_getTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/getTutorResponse" message="tns:IACAD_Service_getTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllTutors">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/getAllTutors" message="tns:IACAD_Service_getAllTutors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/getAllTutorsResponse" message="tns:IACAD_Service_getAllTutors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/AddTutor" message="tns:IACAD_Service_AddTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/AddTutorResponse" message="tns:IACAD_Service_AddTutor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTutor">
      <wsdl:input wsaw:Action="http://tempuri.org/IACAD_Service/EditTutor" message="tns:IACAD_Service_EditTutor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IACAD_Service/EditTutorResponse" message="tns:IACAD_Service_EditTutor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IACAD_Service" type="tns:IACAD_Service">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUser">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/getUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTutor">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/getTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTutors">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/getAllTutors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTutor">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/AddTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTutor">
      <soap:operation soapAction="http://tempuri.org/IACAD_Service/EditTutor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ACAD_Service">
    <wsdl:port name="BasicHttpBinding_IACAD_Service" binding="tns:BasicHttpBinding_IACAD_Service">
      <soap:address location="http://localhost:56938/ACAD_Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>